@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'RobotoLight';
    src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'RobotoBlack';
    src: url("./assets/fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: 'RobotoBold';
    src: url("./assets/fonts/Roboto-Bold.ttf");
}


.loader {
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(140, 134, 250);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}